<div style="display: table-row;">
    <div style="display: table-cell; vertical-align: middle;">
        <div style="height: 61px; margin: 5px 0; position: relative;">

            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #adadad; overflow: hidden;">
                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
            </div>

            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #adadad;">
                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
            </div>

        </div>
    </div>
</div>