{% if app.user.identity.isAdmin() %}
<div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin="">
    <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box uk-text-center">
            <p><a class="uk-button uk-button-primary uk-margin-left" href="{{ url('/tournaments/create') }}">Создать турнир</a></p>
        </div>
    </div>
</div>
{% endif %}

<dl class="uk-description-list-horizontal">
    <dt>NNDL#1</dt>
    <dd>
        <p>
            Система проведения: ...<br>
            Количество команд: ...<br>
            Дата проведения: ...<br>
            Призовой фонд: ...
        <p>
            <button class="uk-button uk-button-success">Принять участие</button>
            <button class="uk-button">Подробнее</button>
        </p>
        </p>
    </dd>
</dl>
<dl class="uk-description-list-horizontal">
    <dt>NNDL#2</dt>
    <dd>
        <p>
            Система проведения: ...<br>
            Количество команд: ...<br>
            Дата проведения: ...<br>
            Призовой фонд: ...
        <p>
            <button class="uk-button uk-button-success">Принять участие</button>
            <button class="uk-button">Подробнее</button>
        </p>
        </p>
    </dd>
</dl>

<dl class="uk-description-list-line">
    <dt>NNDL#0</dt>
    <dd>
        <button class="uk-button uk-button-mini">Сетка турнира</button>
        <button class="uk-button uk-button-mini">Матчи</button>
    </dd>
    <dt>NNDL#0.1</dt>
    <dd>
        <button class="uk-button uk-button-mini">Сетка турнира</button>
        <button class="uk-button uk-button-mini">Матчи</button>
    </dd>
</dl>

<div class="uk-overflow-container">
    <div style="height: 400px; width: 1130px;">

        <div style="height: 100%; width: 100%; position: relative;">

            <div style="display: table; height: 100%; width: 25%; float: left;">

                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="uk-badge uk-badge-success" style="top: 8px; right: 8px; position: absolute">2</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="uk-badge uk-badge-danger" style="top: 8px; right: 8px; position: absolute">1</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div style="display: table; height: 100%; width: 25%; float: left; ">

                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div style="display: table; height: 100%; width: 25%; float: left; ">

                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div style="display: table; height: 100%; width: 25%; float: left; ">

                <div style="display: table-row;">
                    <div style="display: table-cell; padding: 0 5px; vertical-align: middle;">
                        <div style="height: 61px; margin: 5px 0; position: relative;">

                            <div style="height: 30px; width: 100%; position: absolute; top: 0; background-color: #f5f5f5; overflow: hidden;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-success" style="position: absolute; right: 6px; top: 7px;">1</span>
                            </div>

                            <div style="height: 30px; width: 100%; position: absolute; bottom: 0;  background-color: #f5f5f5;">
                                <span style="top:0; right: 0; left: 0; bottom: 0; position: absolute; line-height:30px; padding: 0 25px 0 10px; overflow: hidden; text-overflow:ellipsis;">Teaqwwwwwwwwwwwwwwwwwwwwwwwwwm 1</span>
                                <span class="label label-default" style="position: absolute; right: 6px; top: 7px;">0</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>